{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
	<div class="section"></div>
	<h3><center>BUY A PRESS RELEASE</center></h3>
	<div id="container-background" class="z-depth-1 row" style="padding: 32px 48px 32px 48px; border: 1px solid #EEE;">
		<form method="POST">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s6">
					<input type="text" name="{{ data.first_name.name }}" id="{{ data.first_name.name }}" class="validate" required="" aria-required="true" value="{{ request.user.first_name }}">
					<label for="{{ data.first_name.name }}">{{ data.first_name.label }}</label>
					<!-- <span class="helper-text" data-error="Pelase fill this field"></span> -->
				</div>
				<div class="input-field col s6">
					<input type="text" name="{{ data.last_name.name }}" id="{{ data.last_name.name }}" class="validate" required="" aria-required="true" value="{{ request.user.last_name }}">
					<label for="{{ data.last_name.name }}">{{ data.last_name.label }}</label>
					<!-- <span class="helper-text" data-error="Pelase fill this field"></span> -->
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" name="{{ data.company.name }}" id="{{ data.company.name }}" class="validate" required="" aria-required="true">
					<label for="{{ data.company.name }}">{{ data.company.label }}</label>
					<!-- <span class="helper-text" data-error="Pelase fill this field"></span> -->
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" name="{{ data.email.name }}" id="{{ data.email.name }}" class="validate" required="" aria-required="true" value="{{ request.user.email }}">
					<label for="{{ data.email.name }}">{{ data.email.label }}</label>
					<!-- <span class="helper-text" data-error="Pelase fill this field"></span> -->
				</div>
			</div>
			<div class="row">
				<div class="input-field col s9">
					{{ data.package }}
					<label for="">{{ data.package.label }}</label>
				</div>
				<div class="input-field col s3">
					{{ data.quantity }}
					<label for="">{{ data.quantity.label }}</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					{{ data.manager }}
					<label for="">{{ data.manager.label }}</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<select name="coupon">
						<option></option>
						{% for coupon in coupon_data %}
							<option>{{ coupon.coupon_code }}</option>
						{% endfor %}
					</select>
					<label for="coupon" class="red-text">Coupon</label>
				</div>
			</div>
			
			<div class="input-field col s12">
				<label class="flow-text">{{ data.coin.label }}</label>
			<div class="section"></div>
			</div>
			<div class="input-field col s12">
				{% for coin in data.coin %}
					<div class="col s4 m4 l3">
						<label>
							<input type="radio" name="{{ coin.data.name }}" value="{{ coin.data.value }}"/>
				    		<span>{{ coin.data.label }}</span>
						</label>
					</div>
				{% endfor %}
			</div>

			<div class="row">
				<center>
					<button class="waves-effect waves-light btn-large orange" type="submit">Submit</button>
				</center>
			</div>
		</form>
	</div>
{% endblock %}