{% extends 'base_layout.html' %}
{% block content %}
	<div style="margin-top:20px;"><a href="{% url 'coinpayment:history' %}">BACK</a></div>
	<div class="container" style="margin-top: 70px;">
		<div class="z-depth-1 row" style="padding: 32px 48px 32px 48px; border: 1px solid #EEE;">
			<form method="POST">
				{% csrf_token %}
				{% for f in form %}
					<div class="row">
						<div class="input-field col s12">
							<input type="password" name="{{ f.name }}" id="{{ f.name }}" class="validate" required="" aria-required="true">
							<label for="{{ f.name }}">{{ f.label }}</label>
		                </div>
					</div>
				{% endfor %}
				<center>
		        	<button type="submit" class="btn btn-large waves-effect orange">Submit</button>
		        </center>
			</form>
		</div>
	</div>
{% endblock %}