{% extends 'base_layout.html' %}
{% block content %}
	<main>
    <div style="margin-top:20px;"><a href="{% url 'accounts:login' %}">BACK</a></div>
    <center>
      <h3>Sign Up!</h3> 
      <div class="section"></div>
      <div class="container">
        <div class="z-depth-1 row" style="padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <form method="POST">
            {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.get.next }}">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_box</i>
                  <input type="text" name="{{ form.username.name }}" id="{{ form.username.name }}" class="validate" required="" aria-required="true">
                  <label for="{{ form.username.name }}">{{ form.username.label }}</label>
                </div>
              </div>

               <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input type="text" name="{{ form.first_name.name }}" id="{{ form.first_name.name }}" class="validate" required="" aria-required="true">
                  <label for="{{ form.first_name.name }}">{{ form.first_name.label }}</label>
                </div>
              </div>

               <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.name }}" class="validate" required="" aria-required="true">
                  <label for="{{ form.last_name.name }}">{{ form.last_name.label }}</label>
                </div>
              </div>

               <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail</i>
                  <input type="text" name="{{ form.email.name }}" id="{{ form.email.name }}" class="validate" required="" aria-required="true">
                  <label for="{{ form.email.name }}">{{ form.email.label }}</label>
                </div>
              </div>

               <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.name }}" class="validate" required="" aria-required="true">
                  <label for="{{ form.password1.name }}">{{ form.password1.label }}</label>
                </div>
              </div>

               <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.name }}" class="validate" required="" aria-required="true">
                  <label for="{{ form.password2.name }}">{{ form.password2.label }}</label>
                </div>
              </div>
            <center>
              <div class="row">
                <button type="submit" class="btn btn-large waves-effect orange">Submit</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>
  </main>
{% endblock %}